a{
    color: white!important
}
#background{
    background-image: url(/assests/background6.jpeg);
    background-color: rgb(11, 12, 21);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    padding-top: 15%;
}
#quote{
    padding-bottom: 20%;
    color:rgba(223, 151, 190, 0.925);
     /* 1 pixel black shadow to left, top, right and bottom */
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

     
}

.navbar{
    padding-top: 1%;
}