a{
    color: white!important
}
#background{
    background-image: url(/assests/background6.jpeg);
    background-color: rgb(11, 12, 21);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    padding-top: 20%;
}
#quote{
    padding-bottom: 15%;
    color:rgba(223, 151, 190, 0.925)
}

.navbar{
    padding-top: 1%;
}